# Python caches
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Large Dataset Folders (Do not push gigabytes to GitHub)
IndianGamesDataset/
Augmented/
scratch/

# Environments
.env
.venv
env/
venv/
ENV/

# OS and Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
